:root{
    --mainbg: #495036;
    --altbg: #2E3342;
    --altbg-dark: #252933;
    --white: #fff;
    --caption: #A6A6A6;

    --tablet-min-width: 768px;
    --desktop-min-width: 1025px;
    --container-max-width: 1280px;
    --content-container-max-width: 1000px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: system-ui, 'Inter', sans-serif;
  background-color: var(--altbg);
  color: var(--white);
  letter-spacing: -0.5px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 2.5rem;
}

h1{
    font-size: 1.75rem;
    font-weight: 500;
}

.content {
    display: flex;
    width: 100%;
    max-width: 48rem;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

.header{
    display: none;
}

@media only screen and (min-width: 640px){    
    .header {
        display: flex;
        justify-content: end;
        margin-top: 2rem;
        margin-right: 6rem;
    }
    
    .header nav ul{
        display: flex;
        list-style: none;
        padding: 0.5rem;
        gap: 1.5rem;
    }
    
    .header nav ul li a{
        font-weight: 400;
        font-size: 1.25rem;
    }
}

.hero--title{
    padding-bottom: 4.5rem;
}

.info{
    font-size: 1.25rem;
}

.info span{
    font-weight: 550;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project--languages{
    display: flex;
}

.project--info p{
    padding-top: 1rem;
    font-size: 1.5rem;
    margin-right: 10rem;
}

.language{
    padding-right: 1rem;
    color: var(--caption);
}

.project--picture{
    display: none;
}

@media only screen and (min-width: 640px){
    .project--picture{
        display: grid;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        height: 30rem;
        width: 18rem;
        border-radius: 20px;
        background-color: var(--altbg-dark);
    }
    .wip{
        font-family: monospace; 
        font-weight: bold;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.project--spacer{
    padding-bottom: 12rem;
}

.info a {
    text-decoration: underline;
}

#location.info{
    font-weight: 500;
    padding-top: 0.25rem;
}

#visitor.info {
    color: lightgray;
    font-size: 0.9rem;
}

.location--pin{
    transform: translateX(-1rem);
    margin-left: 0.5rem;
}

.about--icons {
    padding-top: 1rem;
}

@media only screen and (min-width: 640px){
    .about--visuals{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about--icons{
        display: flex;
    }
}

#vis.info {
    display: block;
    padding-top: 24px;
}

#vis.info a {
    text-decoration: underline;
}

@media screen and (min-width: 640px) {
    #vis.info {
        display: none;
    }
}

#chart {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

rect {
    fill: steelblue;
    transition: height 0.3s, y 0.3s; /* smooth animation */
}

text {
    font-size: 12px;
    fill: #333;
    text-anchor: middle;
}

#visualization-chart {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

#infobox {
    position: absolute;
    padding: 6px 10px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    display: none;
    white-space: pre-line;
}

#chart-label-y {
    display: flex;
    flex-direction: column-reverse;
}

#chart-label-x {
    margin-left: 3.2rem;
}

.chart-container {
    display: flex;
}

#logo {
    padding: 4rem;
}